[{vm_service,
	[{hb_interval,10000},
	{apps_to_start,[sd_service,log_service,config_service]}]},
 {config_service,
	[{hb_interval,40000},
	{config_type,dir},	
	{config_path,"test_src"},
	{config_dir,"configs"},
	{app_file,"app.config"},
	{catalog_file,"catalog.config"},
	{node_file,"node.config"}]},
 {orchistrate_service,
	[{hb_interval,20000}]},
 {sd_service,[{hb_interval,40000}]}].
