[{vm_service,
	[{hb_interval,10000},
	{apps_to_start,[sd_service,log_service,config_service]}]},
 {config_service,
	[{hb_interval,40000},
	{config_type,git},	
	{config_path,"https://github.com/joq62/configs.git"},
	{config_dir,"configs"},
	{app_file,"app.config"},
	{catalog_file,"catalog.config"},
	{node_file,"node.config"}]},
 {sd_service,[{hb_interval,40000}]}].
