{"vm_service",git,"https://github.com/joq62/"}.
{"log_service",git,"https://github.com/joq62/"}.
{"orchistrate_service",git,"https://github.com/joq62/"}.
{"oam_service",git,"https://github.com/joq62/"}.
{"adder_service",git,"https://github.com/joqerlang/"}.
{"multi_service",git,"https://github.com/joqerlang/"}.
{"subtract_service",git,"https://github.com/joqerlang/"}.
{"divi_service",git,"https://github.com/joqerlang/"}.


